<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand">CITAS MEDICAS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
          aria-expanded="false" aria-label="Menu de navegacion">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a href="/paciente" class="nav-link">Pacientes</a>
              </li>
          </ul>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/medico" class="nav-link">Medicos</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/hospital" class="nav-link">Hospital</a>
            </li>
        </ul>
          <form action="" class="form-inline my-2 my-lg-0">
              <h3></h3>
          </form>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>